
<div class="city-header" *ngIf="city | async as vm">
    <p class="city-name">{{vm.data.name}}</p>
    <div class="city-image-darken-overlay"></div>
    <img [src]="vm.data.photo_url" alt="">
</div>
<div class="city">
    <app-data-transform (selectedSortValueUpdated)="sortMountains($event)" (mountainSearchInputUpdated)="filterMountains($event)" ></app-data-transform>
    <app-mountain-list-item [cityMountins]="cityMountainsFiltered" [noSearchResults]="noSearchResults"></app-mountain-list-item>
</div>